<ion-header [ngClass]="viewType == 'active' ? 'active':''">
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-icon class="zmdi zmdi-chevron-down" (click)="setViewType(null)" (click)="setViewTypeB(null)">
            </ion-icon>
        </ion-title>
    </ion-toolbar>
    <ion-item lines="none">
        <div class="item_inner">
            <div class="item_info d-flex">
                <div class="d-flex">
                    <div class="item_details">
                        <h3 class="d-flex">
                            {{order.user.name}}
                        </h3>
                        <h4 class="d-flex">{{"order_id" | translate}}{{order.id}} | {{order.created_at}}</h4>
                    </div>
                    <div class="icon_box end">
                        <ion-icon class="zmdi zmdi-comment-alt-text ion-text-start" (click)="navChatCustomer()">
                        </ion-icon>
                        <ion-icon class="zmdi zmdi-phone ion-text-end" (click)="dialCustomer()" ></ion-icon>
                    </div>
                </div>
            </div>
        </div>
    </ion-item>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <div class="item_list">
            <h1>{{'items' | translate}}</h1>
            <div class="item_list animate__animated animate__fadeInRight">
                <ion-item *ngFor="let item of order.products">
                    <div class="item_inner">
                        <div class="text_box">
                            <div class="d-flex">
                                <h3 class="d-flex"><img *ngIf="!(item.meta && item.meta.food_type == 'veg_non')"
                                        src="assets/images/ic_veg.png">
                                    <img *ngIf="(item.meta && item.meta.food_type == 'veg_non')"
                                        src="assets/images/ic_nonveg.png">&nbsp;&nbsp;
                                    {{item.vendor_product.product.title}}</h3>
                                <div class="end item_price d-flex">
                                    <p> <strong>{{item.quantity}}</strong> </p>
                                    <h4 class="ion-text-end end">{{item.total_toshow}}</h4>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="text_box customise">
                            <div class="d-flex">
                                <h3 class="d-flex"><img>&nbsp;&nbsp; Extra Cheese</h3>
                                <div class="end item_price d-flex">
                                    <h4 class="ion-text-end end">$ 3.00</h4>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </ion-item>
            </div>
            <!-- <ion-item>
                <div class="item_inner">
                    <div class="text_box">
                        <div class="d-flex">
                            <h3 class="d-flex"><img src="assets/images/ic_nonveg.png">&nbsp;&nbsp; Fried Chicken</h3>
                            <div class="end item_price d-flex">
                                <p> <strong>1</strong> </p>
                                <h4 class="ion-text-end end">$ 7.00</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item> -->

        </div>

        <div class="payment_info">
            <h1>{{'payment_info' | translate}}</h1>
            <ion-item *ngIf="order.subtotal_toshow">
                <div class="item_inner">
                    <h3 class="d-flex">{{'sub_total' | translate}} <span class="end">{{order.subtotal_toshow}}</span>
                    </h3>
                </div>
            </ion-item>
            <ion-item *ngIf="order.taxes_toshow">
                <div class="item_inner">
                    <h3 class="d-flex">{{'service_fee' | translate}} <span class="end">{{order.taxes_toshow}}</span>
                    </h3>
                </div>
            </ion-item>
            <ion-item *ngIf="order.delivery_fee_toshow">
                <div class="item_inner">
                    <h3 class="d-flex">{{'delivery_fee' | translate}} <span
                            class="end">{{order.delivery_fee_toshow}}</span></h3>
                </div>
            </ion-item>
            <ion-item *ngIf="order.total_toshow">
                <div class="item_inner">
                    <h2 *ngIf="order.payment && order.payment.payment_method" class="d-flex">
                        {{order.payment.payment_method.title}}
                        <span class="end">{{order.total_toshow}}</span>
                    </h2>
                    <h2 *ngIf="!order.payment && order.payment.payment_method" class="d-flex">COD
                        <span class="end">{{order.total_toshow}}</span>
                    </h2>
                </div>
            </ion-item>
        </div>
    </ion-list>

    <ion-list lines="none" [ngClass]="viewType == 'active' ? 'track_delivery active':'track_delivery'">
        <ion-item class="profile_info" (click)="setViewType('active')">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img *ngIf="order.delivery != null && order.delivery.delivery != null"
                        [src]="order.delivery.delivery.user.image_url" class="crop_img">
                    <img *ngIf="!(order.delivery != null && order.delivery.delivery != null)"
                        src="assets/images/empty_dp.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2 *ngIf="order.delivery != null && order.delivery.delivery != null">
                        {{order.delivery.delivery.user.name}}</h2>
                    <h3 *ngIf="order.delivery != null && order.delivery.delivery != null">
                        {{'delivery_partner' | translate}}</h3>

                    <h2 *ngIf="!(order.delivery != null && order.delivery.delivery != null)">
                        {{'delivery_partner' | translate}}</h2>
                    <h3 *ngIf="!(order.delivery != null && order.delivery.delivery != null)">
                        {{'not_assigned' | translate}}</h3>
                </div>
                <div class="icon_box end">
                    <div class="icon_box_inner">
                        <ion-icon class="zmdi zmdi-navigation ion-text-end"></ion-icon>
                    </div>

                    <div [ngClass]="viewTypeB == 'active' ? 'icon_box_inner active':'icon_box_inner'">
                        <ion-icon *ngIf="order.delivery != null && order.delivery.delivery != null"
                            class="zmdi zmdi-comment-alt-text ion-text-start" (click)="setViewTypeB('active')">
                        </ion-icon>
                        <ion-icon class="zmdi zmdi-close ion-text-start" (click)="setViewTypeB(null)"></ion-icon>

                        <ion-icon *ngIf="order.delivery != null && order.delivery.delivery != null"
                            class="zmdi zmdi-phone ion-text-end" (click)="dialDriver()"></ion-icon>
                    </div>
                </div>
            </div>
        </ion-item>

        <div #map id="map" class="map">
            <!-- <ion-spinner></ion-spinner> -->
        </div>
        <div #pleaseConnect id="please-connect">
            <!-- <p>{{'loading' | translate}}</p> -->
        </div>
    </ion-list>


    <div [ngClass]="viewTypeB == 'active' ? 'chat_option active':'chat_option'">
        <div #myContentInner class="chat_container d-flex">
            <div *ngFor="let msg of messages"
                [ngClass]="(chatObj.myId == msg.senderId) ? 'chat_box d-flex send' : 'chat_box d-flex  received'">
                <div class="chat">
                    <h2>{{msg.body}}</h2>
                    <p>{{msg.timeDiff}}</p>
                </div>
            </div>
        </div>

        <div class="form">
            <ion-list lines="none d-flex">
                <ion-item lines="none">
                    <ion-input type="text" [(ngModel)]="newMessageText"
                        placeholder="{{'type_your_meassage' | translate}}"></ion-input>
                </ion-item>
                <div class="send_btn end" (click)="send()">
                    <ion-icon class="zmdi zmdi-mail-send"></ion-icon>
                </div>
            </ion-list>
        </div>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button *ngIf="order.status != 'new'" size="large" shape="full" class="btn" (click)="updateOrder()"
        [disabled]="!canUpdate">
        {{('order_status_action_'+order.status) | translate}}
    </ion-button>
    <ion-row *ngIf="order.status == 'new'">
        <ion-col size="6">
            <ion-button size="large" shape="full" class="btn" (click)="updateOrder()">
                {{'order_status_action_new' | translate}}
            </ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button size="large" shape="full" class="btn danger" (click)="confirmUpdate('rejected')">
                {{'order_status_action_new_reject' | translate}}
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>