<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                {{pageTitle}}
                {{productQuantityStatus}}
                <div class="toggle_box end" [ngClass]="productQuantityStatus ? 'in_stock' : ''">
                    <span *ngIf="productQuantityStatus">{{'in_stock' | translate}}</span>
                    <span
                        *ngIf="!productQuantityStatus">{{'out_of_stock' | translate}}</span>&nbsp;&nbsp;
                    <ion-toggle [(ngModel)]="productQuantityStatus" mode="ios"
                        (ngModelChange)="changeProQuantity()"></ion-toggle>
                </div>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <!-- <ion-item class="feature_image">
            <div class="item_inner">
                <h2> {{'item_image' | translate}}</h2>
                <div class="d-flex" style="align-items: flex-start;">
                    <h3 class="img_box center_img d-flex" (click)="pickImage()">
                        <ion-icon class="zmdi zmdi-camera ion-text-start"></ion-icon>
                        {{'upload_photo' | translate}}
                    </h3>
                    <div class="img_box center_img">
                        <img src="assets/images/food_1.png" class="crop_img">
                    </div>
                </div>
            </div>
        </ion-item> -->
        <div class="item_image_container">
            <div class="img_box center_img add_img" (click)="pickImage()">
                <ion-icon class="zmdi zmdi-camera"></ion-icon>
            </div>
            <div *ngFor="let image of productRequest.image_urls; let i = index" class="img_box center_img">
                <img [src]="image" class="crop_img">
                <ion-icon class="zmdi zmdi-delete ion-text-end" (click)="confirmRemoveImage(i)"></ion-icon>
            </div>
        </div>

        <div class="form">
            <h2>{{'item_info' | translate}}</h2>

            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <div class="input_box">
                        <ion-label mode="md" position="stacked">{{"item_title" | translate}}</ion-label>
                        <ion-input mode="md" type="text" placeholder="{{'enter_item_name' | translate}}"
                            [(ngModel)]="productRequest.title"></ion-input>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <div class="input_box">
                        <ion-label mode="md" position="stacked">{{"item_category" | translate}}</ion-label>
                        <div class="d-flex" style="align-items: flex-end;">
                            <ion-select mode="md" multiple="true" [(ngModel)]="categoriesSelectedStrings"
                                (ionChange)="onCategoriesChange()" [value]="categoriesSelectedStrings"
                                [selectedText]="categoriesSelectedStringsFormatted"
                                cancelText="{{'cancel' | translate}}" okText="{{'okay' | translate}}">
                                <ion-select-option *ngFor="let cat of categoryStrings" [value]="cat">
                                    {{cat}}
                                </ion-select-option>
                            </ion-select>

                            <ion-icon class="zmdi zmdi-chevron-down ion-text-end end"></ion-icon>
                        </div>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <div class="input_box">
                        <ion-label mode="md" position="stacked">{{"item_price" | translate}} ({{currency_icon}})</ion-label>
                        <ion-input mode="md" type="number" placeholder="{{'enter_price' | translate}}" [(ngModel)]="productRequest.price">
                        </ion-input>
                    </div>
                </div>
            </ion-item>
        </div>

        <div class="form food_type">
            <h2>{{'food_type' | translate}}</h2>
            <ion-radio-group [(ngModel)]="productRequest.meta.food_type">
                <ion-item lines="none">
                    <div class="item_inner d-flex">
                        <ion-radio value="veg"></ion-radio>
                        <h3>{{"veg" | translate}}</h3>
                    </div>
                </ion-item>
                <ion-item lines="none">
                    <div class="item_inner d-flex">
                        <ion-radio value="veg_non"></ion-radio>
                        <h3>{{"veg_non" | translate}}</h3>
                    </div>
                </ion-item>
            </ion-radio-group>
        </div>

        <!-- <div class="form add_specification">
            <h2>{{'add_specification' | translate}}</h2>
            <ion-row>
                <ion-col size="6">
                    <ion-item lines="none">
                        <div class="item_inner d-flex">
                            <div class="input_box">
                                <ion-label mode="md" position="stacked">{{"option_title" | translate}}</ion-label>
                                <ion-input mode="md" type="name" placeholder="{{'enter_option_title' | translate}}"
                                    value="Extra Cheese"></ion-input>
                            </div>
                        </div>
                    </ion-item>
                </ion-col>

                <ion-col size="6">
                    <ion-item lines="none">
                        <div class="item_inner d-flex">
                            <div class="input_box">
                                <ion-label mode="md" position="stacked" class="ion-text-end">{{"price" | translate}}
                                </ion-label>
                                <ion-input mode="md" type="name" class="ion-text-end"
                                    placeholder="{{'enter_price' | translate}}" value="Extra Mayones"></ion-input>
                            </div>
                        </div>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item lines="none">
                        <div class="item_inner d-flex">
                            <div class="input_box">
                                <ion-input mode="md" type="name" placeholder="{{'enter_option_title' | translate}}"
                                    value="$ 2.00"></ion-input>
                            </div>
                        </div>
                    </ion-item>
                </ion-col>

                <ion-col size="6">
                    <ion-item lines="none">
                        <div class="item_inner d-flex">
                            <div class="input_box">
                                <ion-input mode="md" type="name" class="ion-text-end"
                                    placeholder="{{'enter_price' | translate}}" value="$ 2.00"></ion-input>
                            </div>
                        </div>
                    </ion-item>
                </ion-col>
            </ion-row>
            <h6 class="ion-text-end">+ {{"add_more_option" | translate}}</h6>
        </div> -->
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button size="large" expand="full" class="btn" (click)="saveProduct()">{{'save' | translate}}</ion-button>
</ion-footer>